anndata==0.11.1
forestplot==0.4.1
matplotlib==3.9.3
numpy==1.24.3
pandas==2.2.2
PyComplexHeatmap==1.8.1
scanpy==1.10.4
seaborn==0.13.2
statsmodels.api==0.14.4
napari_prism==0.1.6
scikit-learn==1.6.1
scikit-survival==0.24.0
statsmodels==0.14.4
